@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*ajuste para que se vea igual en cada navegador*/
a {
  text-decoration: none;
  color: black;
}

li {
  text-align: none;
  list-style: none;
}

img {
  max-width: 100%;
}

/*header-----------------------------------------------------------------------*/
.navbar-brand img {
  width: 100px;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*end header-------------------------------------------------------------------*/
#home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 16, 16, 0.5)), to(rgba(16, 16, 16, 0.5))), url(../img/bg.jpg);
  background-image: linear-gradient(rgba(16, 16, 16, 0.5), rgba(16, 16, 16, 0.5)), url(../img/bg.jpg);
  min-height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#home h1 {
  font-size: 30px;
  color: white;
  font-weight: 700;
}
#home h2 {
  font-size: 60px;
  color: #ff3838;
  font-weight: 700;
  margin-top: -10px;
  margin-bottom: 20px;
}

.btn-brand, .btn-brand:hover {
  background-color: #ff3838;
  color: white;
  padding: 20px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-brand:hover {
  background-color: rgb(128, 20, 20);
}

/*footer-----------------------------------------------------------------------*/
.footer-top {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-top .container h5,
.footer-top .container h4 {
  font-weight: 600;
}
.footer-top .container a,
.footer-top .container p {
  font-weight: 500;
}
.footer-top .container a,
.footer-top .container p {
  color: black;
}

footer .social-icons img {
  width: 25px;
}
footer .social-icons img:hover {
  -webkit-filter: invert(72%) sepia(3%) saturate(3673%) hue-rotate(303deg) brightness(108%) contrast(118%);
          filter: invert(72%) sepia(3%) saturate(3673%) hue-rotate(303deg) brightness(108%) contrast(118%);
}
footer .footer-links a:hover,
footer .social-icons a:hover {
  color: #ffc0cb;
}
footer .footer-links a {
  display: block;
}
footer .footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: gray;
}

.footer-dark {
  background-color: #272727;
  margin-top: 50px;
}
.footer-dark .container h5,
.footer-dark .container h4 {
  font-weight: 600;
}
.footer-dark .container a,
.footer-dark .container p {
  font-weight: 500;
}
.footer-dark .container a,
.footer-dark .container p {
  color: white;
}
.footer-dark .social-icons img {
  width: 25px;
}
.footer-dark .social-icons img:hover {
  -webkit-filter: invert(50%) sepia(48%) saturate(6615%) hue-rotate(338deg) brightness(98%) contrast(105%);
          filter: invert(50%) sepia(48%) saturate(6615%) hue-rotate(338deg) brightness(98%) contrast(105%);
}
.footer-dark .footer-links a:hover,
.footer-dark .social-icons a:hover {
  color: #ff3838;
}
.footer-dark .footer-links a {
  display: block;
}
.footer-dark .footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: gray;
}

/*end footer-------------------------------------------------------------------*/
.contacto {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .contacto img {
    display: none;
  }
}

form .form-control {
  border-radius: 5px;
}
form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #ff3838;
}

/*end contacto-----------------------------------------------------------------*/
/*trabajos----------------------------------------------------------------------*/
.gallery-container {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-col {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  padding: 5px;
}
.gallery-col img {
  margin-top: 5px;
}

@media (max-width: 800px) {
  .gallery-col {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}
@media (max-width: 600px) {
  .gallery-col {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}
/*end trabajos-------------------------------------------------------------------*/
/*nosotros-----------------------------------------------------------------------*/
.container-title {
  background-color: #ff3838;
  padding: 100px;
}

.nosotros-title {
  width: 800px;
  margin-top: 100px;
}

.container-data {
  background-color: #272727;
}
.container-data .line {
  width: 70px;
  height: 2px;
  margin: 16px auto;
  background-color: rgba(255, 255, 255, 0.445);
}

.nosotros-map {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nosotros-map .line {
  width: 70px;
  height: 2px;
  margin: 16px auto;
  background-color: #272727;
}
.nosotros-map .txt-area {
  width: 800px;
}
.nosotros-map img {
  margin-bottom: 20px;
}

.map {
  width: 600px;
  height: 465px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  margin-top: 25px;
}
.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}
@media (max-width: 992px) {
  .map .map {
    width: 300px;
    height: 265px;
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  }
  .map .map iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

/*end nosotros-------------------------------------------------------------------*/
/*homedeco-----------------------------------------------------------------------*/
.homedeco {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/gallery/18.jfif);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/gallery/18.jfif);
  min-height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.homedeco h1 {
  font-weight: 800;
  font-size: 75px;
  color: white;
}
.homedeco h5 {
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-top: -15px;
  margin-bottom: 50px;
}
.homedeco a {
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.homedeco a:hover {
  color: white;
}

.homedeco-info {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.homedeco-info .line {
  width: 70px;
  height: 2px;
  margin: 16px auto;
  background-color: #272727;
}
.homedeco-info .txt-area {
  width: 800px;
}

.homedeco-info2 {
  background-color: #272727;
  padding: 100px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.homedeco-info2 img {
  width: 15px;
}
.homedeco-info2 img:hover {
  width: 20px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.homedeco-info2 .nav-pills .nav-link.active {
  background-color: transparent;
}
.homedeco-info2 h5 {
  color: white;
}
.homedeco-info2 p {
  color: white;
}
.homedeco-info2 .txt-area {
  width: 800px;
}
.homedeco-info2 .title-btn {
  color: black;
}

.homedeco-info3 {
  padding: 50px;
}
.homedeco-info3 .title-btn {
  margin-bottom: 20px;
}
.homedeco-info3 h5 {
  color: white;
}
.homedeco-info3 p {
  color: white;
}
.homedeco-info3 .txt-area {
  width: 800px;
}
.homedeco-info3 .title-btn {
  color: black;
}

/*end homedeco-------------------------------------------------------------------*/