/*header-----------------------------------------------------------------------*/

.navbar-brand img {
    width: 100px;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*end header-------------------------------------------------------------------*/

#home {
    background-image: linear-gradient(rgba(16, 16, 16, 0.5), rgba(16, 16, 16, 0.5)), url(../img/bg.jpg);
    min-height: 100vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;

    @include mainSectionTxt;
}

@include mainBtnSection;

/*footer-----------------------------------------------------------------------*/

.footer-top {
    padding-top: 50px;
    padding-bottom: 50px;

    @include footerTxt;
}

footer {

    @include footerSocialIcons;

    .footer-links a:hover,
    .social-icons a:hover {
        color: #ffc0cb;
    }

    .footer-links a {
        display: block;
    }

    .footer {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        background-color: gray;
    }
}

.footer-dark {
    @include footerDarktxt;

    background-color: #272727;
    margin-top: 50px;

    @include footerSocialIconsAlt;

    .footer-links a:hover,
    .social-icons a:hover {
        color: #ff3838;
    }

    .footer-links a {
        display: block;
    }

    .footer {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        background-color: gray;
    }
}
/*end footer-------------------------------------------------------------------*/

.contacto {
    min-height: 100vh;
    display: flex;
    align-items: center;   

    @media (max-width: 992px) {
        img {
            display: none;
        }
    }
}

@include formContact;

 /*end contacto-----------------------------------------------------------------*/

/*trabajos----------------------------------------------------------------------*/

.gallery-container {
    padding: 100px;
    display: flex;
    justify-content: center;
}

.gallery-row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-col {
    flex: 25%;
    padding: 5px;

    img {
        margin-top: 5px;
    }
}

@media (max-width: 800px) {
    .gallery-col {
        flex: 50%;
    }
}

@media (max-width: 600px) {
    .gallery-col {
        flex: 100%;
    }
}

/*end trabajos-------------------------------------------------------------------*/

/*nosotros-----------------------------------------------------------------------*/

.container-title {
    background-color: #ff3838;
    padding: 100px;
}

.nosotros-title {
    width: 800px;
    margin-top: 100px;
}

.container-data {
    background-color: #272727;

    .line {
        width: 70px;
        height: 2px;
        margin: 16px auto;
        background-color: rgba(255, 255, 255, 0.445);
     }
}


.nosotros-map {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .line {
        width: 70px;
        height: 2px;
        margin: 16px auto;
        background-color: #272727;
     }

    .txt-area {
        width: 800px;
    }
    
    img {
        margin-bottom: 20px;
    }
}

.map {
    width: 600px;
    height: 465px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin-top: 25px;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
    
    @media (max-width: 992px) {
        .map {
            width: 300px;
            height: 265px;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        
            iframe {
                width: 100%;
                height: 100%;
                border: none;
            }
        }
    }
}

/*end nosotros-------------------------------------------------------------------*/

/*homedeco-----------------------------------------------------------------------*/

.homedeco {
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/gallery/18.jfif);
    min-height: 100vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @include homedecoSectionTxt;

}

.homedeco-info {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .line {
        width: 70px;
        height: 2px;
        margin: 16px auto;
        background-color: #272727;
     }

    .txt-area {
        width: 800px;
    }
}

.homedeco-info2 {
    background-color: #272727;
    padding: 100px;

    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include homedecoinfo;
    @include homedecoinfoTxt;
}

.homedeco-info3 {
    padding: 50px;

    .title-btn {
        margin-bottom: 20px
    }

    @include homedecoinfoTxt;
}

/*end homedeco-------------------------------------------------------------------*/