
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@1,700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
} /*ajuste para que se vea igual en cada navegador*/

a {
    text-decoration: none;
    color: black;
}
  
li {
    text-align: none;
    list-style: none;
}

img {
    max-width: 100%;
}

.navbar-brand img {
    width: 100px;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#home {
    background-image: linear-gradient(rgba(16, 16, 16, 0.5), rgba(16, 16, 16, 0.5)), url(../img/bg.jpg);
    min-height: 100vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;

    h1 {
        font-size: 30px;
        color: white;
        font-weight: 700;
    }

    h2 {
        font-size:60px;
        color: #ff3838;
        font-weight: 700;
        margin-top: -10px;
        margin-bottom: 20px;
    }
}

.btn-brand {
    background-color: #ff3838;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.btn-brand:hover {
    background-color: brown;
    color: white;
}

/*footer-----------------------------------------------------------------------*/
.footer-top {
    padding-top: 80px;
    padding-bottom: 30px;

    .container h5,
    .container h4 {
        font-weight: 600;
    }

    .container a,
    .container p {
        font-weight: 500;
        color: black;
    }
}

footer {
    .social-icons img {
        width: 25px;
    }

    .social-icons img:hover {
        filter: invert(72%) sepia(3%) saturate(3673%) hue-rotate(303deg) brightness(108%) contrast(118%);    
    }

    .footer-links a:hover,
    .social-icons a:hover {
        color: #ffc0cb;
    }

    .footer-links a {
        display: block;
    }

    .footer {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        background-color: gray;
    }
}

    

/*end footer----------------------------*/
 
/*contacto----------------------------------------------*/
.contacto {
    min-height: 100vh;
    display: flex;
    align-items: center;
    
}

form {
    .form-control {
        border-radius: 5px;
    }
    
    .form-control:focus {
        box-shadow: none;
        border-color: #ff3838;
    }

}
 /*end contacto*/

/*trabajos-----------------------------------
.gallery-item {
    overflow: hidden;
    position: relative;
}

.gallery-item img,
.gallery-item .gallery-info {
    transition: all 0.4s ease;
 }

.gallery-info {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #ff3838;
   display: flex;
   align-items: flex-end;
   padding: 30px;
   opacity: 0;
}

.gallery-info h3,
.gallery-info h6 {
   color: #fff;
}

.gallery-item:hover .gallery-info {
   opacity: 1;
}

.gallery-item:hover img {
   transform: scale(1.1);
}*/
/*end trabajos*/