@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@1,700&display=swap');

@mixin footerTxt {
    .container h5,
    .container h4 {
        font-weight: 600;
    }

    .container a,
    .container p {
        font-weight: 500;
    }

    .container a,
    .container p {
        color: black;
    }
}

@mixin footerDarktxt {
    .container h5,
    .container h4 {
        font-weight: 600;
    }

    .container a,
    .container p {
        font-weight: 500;
    }

    .container a,
    .container p {
        color: white;
    }
}

@mixin mainSectionTxt {
    h1 {
        font-size: 30px;
        color: white;
        font-weight: 700;
    }
    
    h2 {
        font-size:60px;
        color: #ff3838;
        font-weight: 700;
        margin-top: -10px;
        margin-bottom: 20px;
    }
}

@mixin homedecoSectionTxt {
    h1 {
        font-weight: 800;
        font-size: 75px;
        color: white;
    }
    h5 {
        font-weight: 500;
        font-size: 20px;
        color: white;
        margin-top: -15px;
        margin-bottom: 50px;
    }
    
    a{
        color: black;
        transition: 0.5s;
    }

    a:hover {
        color: white;
    }
}

@mixin homedecoinfoTxt {
    h5 {
        color: white;
    }

    p {
        color: white;
    }

    .txt-area {
        width: 800px;
    }

    .title-btn {
        color: black;
    }
}