
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@1,700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box 
} /*ajuste para que se vea igual en cada navegador*/

a {
    text-decoration: none;
    color: black;
}
  
li {
    text-align: none;
    list-style: none;
}

img {
    max-width: 100%;
}

.header__navbar {
    background-color: white;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.header__navbar--logo {
    grid-column: 2 / 3;
}

.header__navbar--logo img {
    width: 100px;
}

.header__navbar--links {
    grid-column: 5 / 8;
    display: flex;
    justify-content: space-around;
    
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: black;
}

.header__navbar--links :hover {
    font-weight: 700;
    color: red;
    transition: all 0.5s;
}

.header__menu {
    display: none;
}

.header__menu img {
    width: 100px;
}

/*MEDIA QUERY------------------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    .header__navbar {
        position: relative;
    }
    
    .header__menu {
        display: block;
        grid-column: 7/ 8;
        cursor: pointer; 
        z-index: 1;
        /*filter: invert(1);*/
    }
    
    .header__navbar--links {
        display: none;    
    }

    .header__navbar--links :hover {
        position: absolute;
        width: 600px;
        height: 100vh;

        display: grid;
        justify-items: center;
        align-content: center;
        justify-content: center;
        align-items: center;

        background-color: red;
        margin-top: 58em;
        transform: translateX(170%); 
        transition: all 1s;
    }

    .header__navabar--toggle {
        transform: translateX(-50%);
    }
}

/*END MEDIA QUERY---------------------------------------*/

/*SECTION*/
.section__index {
    background-image: linear-gradient(rgba(16, 16, 16, 0.5), rgba(16, 16, 16, 0.5)), url(../img/bg.jpg);
    min-height: 90vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.container__txt {
    grid-column: 6 / 11;
    grid-row: 3 / 7;
    color: white;
}

.header__title{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2em;
}

.header__title--red {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: red;
    
    margin-top: -20px;
}

.header__btn {
    margin-top: 15px; 
}

.header__btn :hover {
    background-color: red;
    transition: all 0.8s;
    border: 1px solid red;
}

.header__btn a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    padding: 15px;

    border: 1px solid white;
    border-radius: 5px;  
}

/*MEDIA QUERY------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    /*SECTION-------------------------------------------*/
    .container__txt {
        grid-column: 2 / 11;
        grid-row: 4 / 7;
        color: red;
    }

    .header__title{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: white;
    }

    .header__title--red {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 45px;
        color: red;
        
        margin-top: -15px;
    }
}
/*END MEDIA QUERY------------------------------------------------------------------------------------*/

/*FOOTER------------------------------------------------------------------------------------*/
.footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);

    justify-items: center;
    align-items: center;
}

.footer__txt {
    grid-column: 2 / 8;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: black;
}

.footer__social {
    grid-column: 2 / 8;
    margin-top: -5px;
}

.footer__social img {
    padding: 10px;
}
/*END FOOTER------------------------------------------------------------------------------------*/
